# Aliases
alias ll='ls -lh --color=auto --human-readable --group-directories-first'
alias lla='ll -ahl --color=auto --group-directories-first'

alias pacClean='paccache -r; paccache -ruk0;sudo pacman -Rns $(pacman -Qqtd);sudo pacman-optimize && sync;'
alias pacMirror='sudo cp -v /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak;sudo reflector --verbose -l 50 -p http --sort rate --save /etc/pacman.d/mirrorlist'
alias cls='reset && clear'; #clear everything including scroll

alias dualscreen='xrandr --output eDP1 --auto --output HDMI1 --auto --right-of eDP1'
alias singlescreen='xrandr --output eDP1 --auto --output HDMI1 --off'

alias lock='xscreensaver-command -lock'
alias hibernate='xscreensaver-command -lock;systemctl hibernate'
alias suspend='xscreensaver-command -lock;systemctl suspend'
alias hybrid-sleep='xscreensaver-command -lock;systemctl hybrid-sleep'

#alias rtorrent='screen rtorrent'
alias playfirst='mplayer -af scaletempo "$(ls | head -n 1)"'
alias rmfirst='rm -i "$(ls | head -n 1)"'

alias orion='ssh user@orion'
alias berrypi='ssh pi@berrypi'
alias orionSep='ssh user@orionSep'

alias apup='sudo create_ap -m nat wlp0s20u2 wlo1 AwesomeAP abcdefghijklmnop'
#sudo mount -t cifs \\\\files.ugent.be\\andlille /mnt/card1 -o user=...#,password=....
#smbclient "//files.ugent.be/andlille" -U andlille
#dir, cd home, dir, "put local_file remote_file"
#/opt/Citrix/ICAClient/wfica launch.ica 

alias ranger='urxvt --depth 0 -e ranger &'
alias rs='rsync -rahv --progress --partial'

alias pipup='pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 sudo pip install -U'
