alias ll='ls -lh --color=auto --human-readable --group-directories-first'
alias lla='ll -ahl --color=auto --group-directories-first'

alias actli='export PATH="/home/gebruiker/miniconda3/bin:$PATH" && source activate iStreet_lidar_production'

alias budo='docker build -t lidar .; docker exec -i -t $(docker run -d -i -v /mnt/lidar:/mnt/lidar -v /mnt/output:/mnt/output -v /mnt/buildings:/mnt/buildings lidar) /bin/bash;'
