download_rate = 1000
upload_rate = 100

directory = /mnt/hd/done/
session = /home/drew/.session/

schedule = low_diskspace,5,60,close_low_diskspace=100M
schedule = watch_directory,5,5,load_start=/home/drew/Downloads/*.torrent

check_hash = yes
encryption = require
peer_exchange = yes
dht = auto
port_random = yes
system.file_allocate.set = yes
